{{ form_start(form) }}
    <h3>Questions</h3>

    {% set answerPrototype = '<li>
        <label class="required">Réponse</label>
        <div id="quizz_questions__question_number__answers__answer_number_" class="answer">
            <div>
                <label for="quizz_questions__question_number__answers__answer_number__text" class="required">Texte de la réponse</label>
                <input type="text" id="quizz_questions__question_number__answers__answer_number__text" name="quizz[questions][_question_number_][answers][_answer_number_][text]" required="required" />
            </div>
            <div>
                <label for="quizz_questions__question_number__answers__answer_number__isAnswer" class="required">Est la bonne réponse ?</label>
                <select id="quizz_questions__question_number__answers__answer_number__isAnswer" name="quizz[questions][_question_number_][answers][_answer_number_][isAnswer]">
                    <option value="1">Oui</option>
                    <option value="0" selected>Non</option>
                </select>
            </div>
        </div>
    </li>' %}

    {% set questionPrototype = '<div id="quizz_questions__question_number_">
        <div>
            <label for="quizz_questions__question_number__title" class="required">Intitulé</label>
            <input type="text" id="quizz_questions__question_number__title" name="quizz[questions][_question_number_][title]" required="required" value="_question_title_">
        </div>
        <div>
            <label for="quizz_questions__question_number__explanation" class="required">Explications</label>
            <textarea rows="5" cols="30" id="quizz_questions__question_number__explanation" name="quizz[questions][_question_number_][explanation]" required="required">_question_explanation_</textarea>
        </div>
        <div>
            <label class="required">Réponses</label>
            <ul id="quizz_questions__question_number__answers" data-prototype="' ~ answerPrototype|e('html_attr') ~ '"></div>
            <button type="button" class="add_answer_link" data-question-number="_question_number_" data-collection-holder-class="quizz_questions__question_number__answers">Ajouter une réponse</button>
        </div>
        <button type="button" class="delete_question_link" data-collection-holder-class="questions">Supprimer la question</button>
    </div>' %}

    <ul id="questions" data-index="{{ quizz.questions|length }}" data-prototype="{{ questionPrototype|e('html_attr') }}">
        {% for key, question in quizz.questions %}
            <li>
                <div id="quizz_questions_{{ key }}" class="quizz-border">
                    <div>
                        <label for="quizz_questions_{{ key }}_title" class="required">Intitulé</label>
                        <input type="text" id="quizz_questions_{{ key }}_title" name="quizz[questions][{{ key }}][title]" required="required" value="{{ question.title }}">
                    </div>
                    <div>
                        <label for="quizz_questions_{{ key }}_explanation" class="required">Explications</label>
                        <textarea rows="5" cols="30" id="quizz_questions_{{ key }}_explanation" name="quizz[questions][{{ key }}][explanation]" required="required">{{ question.explanation }}</textarea>
                    </div>
                    <div>
                        <label class="required">Réponses</label>
                        <ul id="quizz_questions_{{ key }}_answers" data-prototype="{{ answerPrototype|e('html_attr') }}">
                            {% for keyAnswer, answer in question.answers %}
                                <li>
                                    <label class="required">Réponse</label>
                                    <div id="quizz_questions_{{ key }}_answers_{{ keyAnswer }}" class="answer">
                                        <div>
                                            <label for="quizz_questions_{{ key }}_answers_{{ keyAnswer }}_text" class="required">Texte de la réponse</label>
                                            <input type="text" id="quizz_questions_{{ key }}_answers_{{ keyAnswer }}_text" name="quizz[questions][{{ key }}][answers][{{ keyAnswer }}][text]" value="{{ answer.text }}" required="required" />
                                        </div>
                                        <div>
                                            <label for="quizz_questions_{{ key }}_answers_{{ keyAnswer }}_isAnswer" class="required">Est la bonne réponse ?</label>
                                            <select id="quizz_questions_{{ key }}_answers_{{ keyAnswer }}_isAnswer" name="quizz[questions][{{ key }}][answers][{{ keyAnswer }}][isAnswer]">
                                                <option value="1" {% if answer.isAnswer == true %}selected{% endif %}>Oui</option>
                                                <option value="0" {% if answer.isAnswer == false %}selected{% endif %}>Non</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button type="button" class="delete_question_link btn btn-secondary" data-collection-holder-class="questions">Supprimer la question</button>
                    <button type="button" class="add_answer_link btn btn-secondary" data-question-number="{{ key }}" data-collection-holder-class="quizz_questions_{{ key }}_answers">Ajouter une réponse</button>
                </div>
            </li>
        {% endfor %}
    </ul>

    <button type="button" class="add_question_link btn btn-secondary" data-collection-holder-class="questions">Ajouter une question</button>

    {% do form.questions.setRendered %}
    {{ form_widget(form) }}

    <button class="btn btn-secondary">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}

<script>
    // Add questions
    const addQuestionToCollection = (e) => {
        const collectionHolder = document.querySelector('#' + e.currentTarget.dataset.collectionHolderClass);
        const item = document.createElement('li');

        item.innerHTML = collectionHolder.dataset.prototype
            .replace(/_question_number_/g, collectionHolder.dataset.index)
            .replace(/_question_title_/g, '')
            .replace(/_question_explanation_/g, '');

        collectionHolder.appendChild(item);
        collectionHolder.dataset.index++;

        document.querySelectorAll('#questions li .delete_question_link').forEach(btn => {
            btn.addEventListener("click", removeQuestionFromCollection)
        });
        document.querySelectorAll('.add_answer_link').forEach(btn => {
            btn.addEventListener("click", addQuestionAnswerToCollection)
        });
    };
    document.querySelectorAll('.add_question_link').forEach(btn => {
        btn.addEventListener("click", addQuestionToCollection)
    });

    // Add answer to existing question
    const addQuestionAnswerToCollection = (e) => {
        const collectionHolder = document.querySelector('#' + e.currentTarget.dataset.collectionHolderClass);
        const item = document.createElement('li');

        item.innerHTML = collectionHolder.dataset.prototype
            .replace(/_question_number_/g, e.currentTarget.dataset.questionNumber)
            .replace(/_answer_number_/g, collectionHolder.querySelectorAll('div.answer').length);

        collectionHolder.appendChild(item);
        collectionHolder.dataset.index++;
    };
    document.querySelectorAll('.add_answer_link').forEach(btn => {
        btn.addEventListener("click", addQuestionAnswerToCollection)
    });

    // Delete question
    const removeQuestionFromCollection = (e) => {
        e.currentTarget.parentNode.parentNode.remove();
    };
    document.querySelectorAll('#questions li .delete_question_link').forEach(btn => {
        btn.addEventListener("click", removeQuestionFromCollection)
    });
</script>