{% extends 'base.html.twig' %}

{% block title %}{{ training.title }}{% endblock %}

{% block body %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Formation</div>
                        <a class="nav-link nav-training" href="{{ path('trainings_show', {'slug': training.slug}) }}">
                            {{ training.title }}
                        </a>
                        <div class="sb-sidenav-menu-heading">Sections</div>
                            <nav class="sb-sidenav-menu-nested nav accordion" >
                                {% for section in training.sections %}
                                    <span class="border-top"></span>
                                    <a class="nav-link nav-training" href="{{ path('trainings_show_section', {'slug': training.slug, 'sectionSlug': section.slug}) }}">{{ section.title }}</a>
                                <div class="nav-link nav-training">
                                    <nav class="sb-sidenav-menu-nested nav accordion" >
                                        {% for lesson in section.lessons %}
                                            <a class="nav-link nav-training" href="{{ path('trainings_show_lesson', {'slug': training.slug, 'sectionSlug': section.slug, 'lessonId': lesson.id }) }}">{{ lesson.title }}</a>
                                        {% endfor %}
                                    </nav>
                                </div>
                            {% endfor %}
                        </nav>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">{{ training.title }}</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">{{ training.description }}</li>
                    </ol>
                </div>
                <div class="main-training" >
                    <div class="card" >
                        {% if training.image is defined and training.image %}
                            <img class="img-training" src="{{ asset('/uploads/' ~ training.image.name) }}" alt="Card image cap">
                        {% else %}
                            <img class="img-training" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="Card image cap">
                        {% endif %}
                        <div class="card-body">
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <strong>Votre pourcentage d'avancement de la formation :</strong>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ training.getPercentageOfAchievement(app.user) }}%;" aria-valuenow="{{ training.getPercentageOfAchievement(app.user) }}" aria-valuemin="0" aria-valuemax="100">{{ training.getPercentageOfAchievement(app.user) }} %</div>
                                </div>
                            {% endif %}

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Résumé des sections</strong></li>
                            {% for section in training.sections %}
                                <li class="list-group-item">
                                    <a href="{{ path('trainings_show_section', {'slug': training.slug, 'sectionSlug': section.slug}) }}">{{ section.title }}</a>
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and section.isDone(app.user) %}
                                        <strong class="text-success"> Terminé</strong>
                                    {% else %}
                                    <strong class="text-dark">À faire</strong>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="card-body">
                            <a href="{{ path('trainings') }}" class="btn btn-secondary" role="button">Retourner à la liste des formations</a>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}