{% extends 'base.html.twig' %}

{% block title %}{{ training.title }} - {{ section.title }}{% endblock %}

{% block body %}
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Formation</div>
                        <a class="nav-link nav-training" href="{{ path('trainings_show', {'slug': training.slug}) }}">
                            {{ training.title }}
                        </a>
                        <div class="sb-sidenav-menu-heading">Sections</div>
                        <nav class="sb-sidenav-menu-nested nav accordion" >
                            {% for section in training.sections %}
                                <span class="border-top"></span>
                                <a class="nav-link nav-training" href="{{ path('trainings_show_section', {'slug': training.slug, 'sectionSlug': section.slug}) }}">{{ section.title }}</a>
                                <div class="nav-link nav-training">
                                    <nav class="sb-sidenav-menu-nested nav accordion" >
                                        {% for lesson in section.lessons %}
                                            <a class="nav-link nav-training" href="{{ path('trainings_show_lesson', {'slug': training.slug, 'sectionSlug': section.slug, 'lessonId': lesson.id }) }}">{{ lesson.title }}</a>
                                        {% endfor %}
                                    </nav>
                                </div>
                            {% endfor %}
                        </nav>
                    </div>
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">{{ section.title }}</h1>
                </div>
                <div class="main-training" >
                    <div class="card" >
                        <div class="card-body">
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <strong>Votre pourcentage d'avancement de la section :</strong>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{  section.getPercentageOfAchievement(app.user) }}%;" aria-valuenow="{{  section.getPercentageOfAchievement(app.user) }}" aria-valuemin="0" aria-valuemax="100">{{  section.getPercentageOfAchievement(app.user) }} %</div>
                                </div>
                            {% endif %}
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Résumé des leçons</strong></li>
                            {% for lesson in section.lessons %}
                                <li class="list-group-item">
                                    <a href="{{ path('trainings_show_lesson', {'slug': training.slug, 'sectionSlug': section.slug, 'lessonId': lesson.id }) }}">{{ lesson.title }}</a>
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and lesson.isDone(app.user) %}
                                        <strong class="text-success"> Terminé</strong>
                                    {% else %}
                                        <strong class="text-dark">À faire</strong>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            {% if section.quizz is defined and section.quizz %}
                                <li class="list-group-item">
                                    <a href="{{ path('quizzes_show', {'id': section.quizz.id}) }}" class="btn btn-secondary" role="button">Passer le quizz</a>
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                <a href="{{ path('trainings_show', {'slug': training.slug}) }}" class="btn btn-secondary" role="button">Retourner à la formation</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
