{% extends 'base.html.twig' %}

{% block title %}{{ section.title }} - {{ lesson.title }}{% endblock %}

{% block body %}
    <div class="card h-100">
        <h1>{{ lesson.title }}</h1>

        {{ lesson.video|raw }}

        <p>
            {{ lesson.explanation }}
        </p>

        {% if lesson.files is defined and lesson.files|length > 0 %}
            {% for file in lesson.files %}
                <li><a href="{{ asset('/uploads/' ~ file.name) }}">{{ file.name }} (Fichier {{ file.extension|upper }})</a></li>
            {% endfor %}
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and lesson.isDone(app.user) %}
            <p><strong>Vous avez déjà appris cette leçon.</strong></p>
        {% endif %}

        <p>
            <a href="{{ path('trainings_mark_lesson_as_done', {'slug': training.slug, 'sectionSlug': section.slug, 'lessonId': lesson.id }) }}">Terminer la leçon</a>
            <a href="{{ path('trainings_show_section', {'slug': training.slug, 'sectionSlug': section.slug}) }}">Retourner à la section</a>
        </p>
    </div>
{% endblock %}