{% extends 'base.html.twig' %}

{% block title %}Quizz - {{ quizz.trainingSection.title }}{% endblock %}

{% block body %}
    <h1>Quizz - {{ quizz.trainingSection.title }}</h1>

    <form method="POST" action="{{ path('quizzes_show', {'id': quizz.id}) }}">
        {% for key, question in quizz.questions %}
            <h2>{{ question.title }}</h2>

            <label for="question_{{ question.id }}">{{ question.title }}</label>
            <select name="question_{{ question.id }}" class="form-select">
                {% for answer in question.answers %}
                    <option value="{{ answer.id }}">{{ answer.text }}</option>
                {% endfor %}
            </select>

            {% if display_answers is defined and display_answers %}
                {% if posted_data['question_' ~ question.id] is defined and posted_data['question_' ~ question.id] and question.isValidAnswer(posted_data['question_' ~ question.id]) %}
                    <p><strong>Bravo, vous avez trouvé la bonne réponse !</strong></p>
                {% else %}
                    <p><strong>Désolé, mauvaise réponse !</strong></p>
                {% endif %}

                <p>{{ question.explanation }}</p>
            {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

    <p>
        <a href="{{ path('quizzes_show', {'id': quizz.id}) }}">
            Recommencer le quizz
        </a>
        <a href="{{ path('trainings_show_section', {'slug': quizz.trainingSection.training.slug, 'sectionSlug': quizz.trainingSection.slug}) }}">
            Retourner à la section "{{ quizz.trainingSection.title }}"
        </a>
    </p>
{% endblock %}